@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: KNFontMaiYuan;
  font-style: normal;
  font-display: swap;
  src: local(""), url("../font/KNFontMaiYuan.ttf") format("truetype"),
    url("../font/KNFontMaiYuan.otf") format("truetype");
}

body {
  font-family: KNFontMaiYuan, Arial, Helvetica, sans-serif;
}
